.navbar-dark.bg-primary {
    background-color: rgb(0, 0, 81) !important;
}

.text-primary {
    color: rgb(0, 0, 81) !important;
}

.nav-link:hover {
    text-decoration: underline;
}

.profile-img {
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 81);
    width: 170px;
    height: 170px;
    object-fit: cover;
    float: left;
    margin-right: 20px;
}

.skills-img {     
    width: 50px;
    height: 50px;       
    float: left;  
    position: absolute;
    left: 15px;          
}

.servicesText.card {
    height: 280px;
    cursor: pointer;
}

.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}

.servicesText:hover {
    border: 1px solid #000080;
}

.card-title {
    text-align: center;
    /* Moved from original internal style block */
    margin-left: auto; 
    margin-right: auto;
}

.card:hover .servicesIcon {
    color: #008000;
}    

.table {
    border-collapse: collapse;
}

.table td {
    border: none; /* Remove borders from table cells */
}

.table h5 {
    margin: 0; /* Remove default margin from h5 */
}

.job-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 100%;
}

.logo {
    width: 50px; /* Adjust size as needed */
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
}

.details {
    margin-left: 15px;
}

.role {
    font-weight: bold;
    font-size: 14px;
}

.description {
    font-size: 12px;
    color: #555;
}

.experience-title {
    text-align: left;
}

.experience-img {     
    width: 75px;
    height: 75px; 
    display: flex;                              
    float: left;
    left: 15px;
    padding:10px;          
}

/* New class for extracted inline style: style="vertical-align: top;" */
.td-align-top { 
    vertical-align: top;
}

/* New class for extracted deprecated style: align="center" */
.p-align-center {
    text-align: center;
}

/* New class for extracted inline style: style=background-color:#f2f5fa */
.card-body-contact {
    background-color:#f2f5fa;
}